<div class="tab-pane fade in active" id="config">
  <div class="row">
    <form rol="form">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Common Channel
        </div>

        <!-- <div class="panel-heading"> -->

        <div class="panel-body">
            <div class="form-group input-group">
              <span class="input-group-addon" style="width:90px">Data Channel</span>
              <input type="text" class="form-control" placeholder="" id="cDataChannel">
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon" style="width:113px">RF Powerr</span>
              <input type="text" class="form-control" placeholder="" id="cRFPower">
            </div>
        </div>
        <!-- <div class="panel-body"> -->
      </div>
      <!-- <div class="panel panel-default"> -->
    </div>
    <!-- <div class="col-lg-6"> -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Data Channel
        </div>
        <!-- <div class="panel-heading"> -->
        <div class="panel-body">
          <div class="form-group input-group">
            <span class="input-group-addon" style="width:90px">Data Channel</span>
            <input type="text" class="form-control" id="dDataChannel">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon" style="width:113px">RF Powerr</span>
            <input type="text" class="form-control" id="dRFPower">
          </div>
        </div>
        <!-- <div class="panel-body"> -->
      </div>
      <!-- <div class="panel panel-default"> -->
    </div>
      </form>
      <div class="pannel-footer">
        <button type="button" class="btn btn-primary btn-xs pull-right"  onclick="modifyDevice();">Modifiy</button>
      </div>
    <!-- <div class="col-lg-6"> -->
  </div>
</div>
