.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.atecHover {
  width: 175px;
  height: 35px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
div.popover {

    word-break:break-all;
}
